extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li.active
				a(href="#") 添加收支
	.page-content
		include ../page
		.page-content-area
			.page-header
				h1
					| 添加收支
					small
						i.ace-icon.fa.fa-angle-double-right
						| 	请填写以下信息：
			.row
				.col-xs-12
					form#payment_form.form-horizontal(role='form',method="POST",action="/payment/save")
						.form-group
							label.col-sm-4.control-label.no-padding-right 收支类型
							.col-sm-8
								.radio
									label
										input(name="payment[type]" type="radio" class="ace",value="0",checked="checked")
										span.lbl 收入
									label
										input(name="payment[type]" type="radio" class="ace",value="1")
										span.lbl 支出
						.form-group
							label.col-sm-4.control-label.no-padding-right 收支名字
							.col-sm-8
								input#payment_name.col-xs-10.col-sm-4(type='text', placeholder='收支名字',name="payment[name]",value=payment.name)
						.form-group
							label.col-sm-4.control-label.no-padding-right  分类
							.col-sm-8
								select#payment_type_0.col-xs-10.col-sm-4(name="payment[product_type]",value=payment.product_type)
									option(value="奖金") 奖金
									option(value="工资") 工资
									option(value="其他") 其他
								select#payment_type_1.col-xs-10.col-sm-4(name="payment[product_type]",value=payment.product_type,disabled="disabled",style="display:none;")
									option(value="饮食") 饮食
									option(value="服装") 服装
									option(value="交通") 交通
									option(value="水电") 水电
									option(value="通讯") 通讯
									option(value="日用品") 日用品
									option(value="旅游") 旅游
									option(value="保险") 保险
									option(value="其他") 其他
						.form-group
							label.col-sm-4.control-label.no-padding-righ 收支价格
							.col-sm-8
								input#payment_price.col-xs-10.col-sm-4(type='text', placeholder='收支价格',name="payment[price]",value=payment.price)
						.form-group
							label.col-sm-4.control-label.no-padding-right  备注
							.col-sm-8
								textarea#payment_remark.col-xs-10.col-sm-4(name="payment[remark]") #{payment.remark}
						.clearfix.form-actions
							.col-sm-offset-4.col-sm-4
								button#form_submit.btn.btn-info(type='button')
									i.ace-icon.fa.fa-check.bigger-110
									| 	确定
								button.btn(type='reset')
									i.ace-icon.fa.fa-undo.bigger-110
									| 	重置
	script(src="/javascript/payment_add.js")



