extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li.active 
				a(href="#") 添加资产
		#nav-search.nav-search
			form.form-search
				span.input-icon
					input#nav-search-input.nav-search-input(type="text", placeholder="Search ...", autocomplete="off")
					i.ace-icon.fa.fa-search.nav-search-icon
	.page-content
		include ../page
		.page-content-area
			.page-header
				h1
					| 添加资产
					small
						i.ace-icon.fa.fa-angle-double-right
						| 	请填写以下信息：
			.row
				.col-xs-12
					form#assets_form.form-horizontal(role='form',method="POST",action="/assets/action/save")
						if assets._id
							input(type="hidden",name="assets[_id]",value=assets._id)
						.form-group
							label.col-sm-4.control-label.no-padding-right 资产名字 
							.col-sm-8
								input#assets_name.col-xs-10.col-sm-4(type='text', placeholder='资产名字',name="assets[name]",value=assets.name)
						.form-group
							label.col-sm-4.control-label.no-padding-right  资产类型 
							.col-sm-8
								select#assets_type.col-xs-10.col-sm-4(name="assets[type]",value=assets.type)
									option(value="流动资产") 流动资产
									option(value="固定资产") 固定资产
									option(value="有形资产") 有形资产
									option(value="无形资产") 无形资产
									option(value="不动产")	不动产
						.form-group
							label.col-sm-4.control-label.no-padding-righ 资产价格
							.col-sm-8
								input#assets_price.col-xs-10.col-sm-4(type='text', placeholder='资产价格',name="assets[price]",value=assets.price)
						.form-group
							label.col-sm-4.control-label.no-padding-right  备注
							.col-sm-8
								textarea#assets_remark.col-xs-10.col-sm-4(name="assets[remark]") #{assets.remark}						
						.clearfix.form-actions
							.col-md-offset-4.col-md-4
								button#form_submit.btn.btn-info(type='button')
									i.ace-icon.fa.fa-check.bigger-110
									| 	确定
								button.btn(type='reset')
									i.ace-icon.fa.fa-undo.bigger-110
									| 	重置
	script(src="/javascript/asserts_add.js")

								
						