extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li
				a(href="/payment/list") 收支列表
			li.active 
				a(href="#") 收支详情
		#nav-search.nav-search
			form.form-search
				span.input-icon
					input#nav-search-input.nav-search-input(type="text", placeholder="Search ...", autocomplete="off")
					i.ace-icon.fa.fa-search.nav-search-icon
	.page-content
		include ../page
		.page-content-area
			.page-header
				h1 收支详情
			.row
				.col-xs-12
					form#payment_form.form-horizontal(role='form',method="POST",action="/payment/action/save")
						.form-group
							label.col-sm-4.control-label.no-padding-right 类型 
							.col-sm-8
								if payment.type == 0
									input#payment_name.col-xs-10.col-sm-4(type='text', placeholder='收支名字',value="收入",disabled="disabled")
								else 
									input#payment_name.col-xs-10.col-sm-4(type='text', placeholder='收支名字',value="支出",disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-right 收支名字 
							.col-sm-8
								input#payment_name.col-xs-10.col-sm-4(type='text', placeholder='收支名字',name="payment[name]",value=payment.name,disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-right  类型 
							.col-sm-8
								input#payment_type.col-xs-10.col-sm-4(type='text', placeholder='收支名字',name="payment[product_type]",value=payment.product_type,disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-righ 收支价格
							.col-sm-8
								input#payment_price.col-xs-10.col-sm-4(type='text', placeholder='收支价格',name="payment[price]",value=payment.price,disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-right(for='form-field-1')  备注
							.col-sm-8
								textarea#bond_remark.col-xs-10.col-sm-4(name="bond[remark]",readonly="readonly") #{payment.remark}			
						.form-group
							label.col-sm-4.control-label.no-padding-righ 创建日期
							.col-sm-8
								input#bond_price.col-xs-10.col-sm-4(type='text', placeholder='收益率',disabled="disabled",value="#{moment(payment.meta.createAt).format('YYYY-MM-DD')}")



								
						