extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li.active 
				a(href="#") 添加心愿
	.page-content
		include ../page
		.page-content-area
			.page-header
				h1
					| 添加心愿
					small
						i.ace-icon.fa.fa-angle-double-right
						| 	请填写以下信息：
			.row
				.col-xs-12
					form#wishlist_form.form-horizontal(role='form',method="POST",action="/wishlist/action/save")
						if wishlist._id
							input(type="hidden",name="wishlist[_id]",value=wishlist._id)
						.form-group
							label.col-sm-4.control-label.no-padding-right 心愿名字 
							.col-sm-8
								input#wishlist_name.col-xs-10.col-sm-4(type='text', placeholder='心愿名字',name="wishlist[name]",value=wishlist.name)
						.form-group
							label.col-sm-4.control-label.no-padding-righ 价格
							.col-sm-8
								input#wishlist_price.col-xs-10.col-sm-4(type='text', placeholder='心愿价格',name="wishlist[price]",value=wishlist.price)
						.form-group
							label.col-sm-4.control-label.no-padding-right  心愿类型 
							.col-sm-8
								select#wishlist_type.col-xs-10.col-sm-4(name="wishlist[product_type]",value=wishlist.product_type)
									option(value="饮食") 饮食
									option(value="服装") 服装
									option(value="交通") 交通
									option(value="水电") 水电
									option(value="通讯")	通讯
									option(value="日用品") 日用品
									option(value="旅游") 旅游
									option(value="保险") 保险
									option(value="其他") 其他
						.form-group
							label.col-sm-4.control-label.no-padding-right  备注
							.col-sm-8
								textarea#wishlist_remark.col-xs-10.col-sm-4(name="wishlist[remark]") #{wishlist.remark}						
						.clearfix.form-actions
							.col-md-offset-4.col-md-4
								button#form_submit.btn.btn-info(type='button')
									i.ace-icon.fa.fa-check.bigger-110
									| 	确定
								button.btn(type='reset')
									i.ace-icon.fa.fa-undo.bigger-110
									| 	重置
	script(src="/javascript/wishlist_add.js")

								
						