extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li.active 
				a(href="#") 添加借贷
	.page-content
		include ../page
		.page-content-area
			.page-header
				h1
					| 添加借贷
					small
						i.ace-icon.fa.fa-angle-double-right
						| 	请填写以下信息：
			.row
				.col-xs-12
					form#borrowing_form.form-horizontal(role='form',method="POST",action="/borrowing/action/save")
						if borrowing._id
							input(type="hidden",name="borrowing[_id]",value=borrowing._id)
						.form-group
							label.col-sm-4.control-label.no-padding-right 对方名字 
							.col-sm-8
								input#borrowing_other.col-xs-10.col-sm-4(type='text', placeholder='对方名字',name="borrowing[other]",max-length="20",value=borrowing.other)
						.form-group
							label.col-sm-4.control-label.no-padding-right 对方电话
							.col-sm-8
								input#borrowing_telphone.col-xs-10.col-sm-4(type='text', placeholder='对方电话',name="borrowing[telphone]",value=borrowing.telphone)
						.form-group
							label.col-sm-4.control-label.no-padding-right  借贷类型 
							.col-sm-8
								select#borrowing_type.col-xs-10.col-sm-4(name="borrowing[type]",value=borrowing.type)
									option(value="0") 借入
									option(value="1") 借出
						.form-group
							label.col-sm-4.control-label.no-padding-righ 金额
							.col-sm-8
								input#borrowing_price.col-xs-10.col-sm-4(type='text', placeholder='借贷价格',name="borrowing[price]",value=borrowing.price)
						.form-group
							label.col-sm-4.control-label.no-padding-right  备注
							.col-sm-8
								textarea#borrowing_remark.col-xs-10.col-sm-4(name="borrowing[remark]") #{borrowing.remark}						
						.clearfix.form-actions
							.col-md-offset-4.col-md-4
								button#form_submit.btn.btn-info(type='button')
									i.ace-icon.fa.fa-check.bigger-110
									| 	确定
								button.btn(type='reset')
									i.ace-icon.fa.fa-undo.bigger-110
									| 	重置
	include ../../includes/foot
	script(src="/javascript/borrowing_add.js")

								
						