extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li 
				a(href="/borrowing/list") 借贷列表
			li.active 
				a(href="#") 借贷详情
	.page-content
		include ../page
		.page-content-area
			.page-header
				h1
					| 借贷详情
			.row
				.col-xs-12
					form#borrowing_form.form-horizontal(role='form')
						if borrowing._id
							input(type="hidden",name="borrowing[_id]",value=borrowing._id)
						.form-group
							label.col-sm-4.control-label.no-padding-right 对方名字 
							.col-sm-8
								input#borrowing_other.col-xs-10.col-sm-4(type='text', placeholder='对方名字',name="borrowing[other]",value=borrowing.other,disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-right 对方电话
							.col-sm-8
								input#borrowing_telephone.col-xs-10.col-sm-4(type='text', placeholder='对方电话',name="borrowing[telephone]",value=borrowing.telephone,disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-right  借贷类型 
							.col-sm-8
								if borrowing.type == 0
									input#borrowing_telephone.col-xs-10.col-sm-4(type='text', placeholder='对方电话',value="借入",disabled="disabled")
								else
									input#borrowing_telephone.col-xs-10.col-sm-4(type='text', placeholder='对方电话',value="借出",disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-righ 金额
							.col-sm-8
								input#borrowing_price.col-xs-10.col-sm-4(type='text', placeholder='借贷价格',name="borrowing[price]",value=borrowing.price,disabled="disabled")
						.form-group
							label.col-sm-4.control-label.no-padding-right  备注
							.col-sm-8
								textarea#borrowing_remark.col-xs-10.col-sm-4(name="borrowing[remark]",disabled="disabled") #{borrowing.remark}	
						.form-group
							label.col-sm-4.control-label.no-padding-righ 创建日期
							.col-sm-8
								input#bond_price.col-xs-10.col-sm-4(type='text', placeholder='收益率',disabled="disabled",value="#{moment(borrowing.meta.createAt).format('YYYY-MM-DD')}")


								
						