extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li.active 
				a(href="#") 股票列表
		#nav-search.nav-search
			form.form-search
				span.input-icon
					input#nav-search-input.nav-search-input(type="text", placeholder="Search ...", autocomplete="off")
					i.ace-icon.fa.fa-search.nav-search-icon
	.page-content
		include ../page
		.page-content-area
			.row
				.col-xs-12
					.table-header
						| 股票列表
					div
						table#sample-table-2.table.table-striped.table-bordered.table-hover
							thead
								tr
									th.center
										label.position-relative
											input.ace(type='checkbox')
											span.lbl
									th 名字
									th 股数
									th.hidden-480 买入价格
									th 卖出价格
									th 收入
									th 创建日期
									th 修改日期
									th 操作
							tbody
								if share.length == 0
									tr
										td.center(colspan="10") 无记录
								each item in share
									tr(id="i-#{item._id}")
										td.center
											label.position-relative
												input.ace(type='checkbox')
												span.lbl
										td #{item.name}
										td #{item.count}
										td #{item.first_price}
										td #{item.last_price}
										td #{item.income}
										td #{moment(item.meta.createAt).format('YYYY-MM-DD')}
										td #{moment(item.meta.updateAt).format('YYYY-MM-DD')}
										td
											.hidden-sm.hidden-xs.action-buttons
												a.blue(href='/share/detail/#{item._id}')
													i.ace-icon.fa.fa-search-plus.bigger-130
												a.delete_btn.red(href="javascript:void(0);",data-id="#{item._id}")
													i.ace-icon.fa.fa-trash-o.bigger-130
											.hidden-md.hidden-lg
												.inline.position-relative
													button.btn.btn-minier.btn-yellow.dropdown-toggle(data-toggle='dropdown', data-position='auto')
														i.ace-icon.fa.fa-caret-down.icon-only.bigger-120
													ul.dropdown-menu.dropdown-only-icon.dropdown-yellow.dropdown-menu-right.dropdown-caret.dropdown-close
														li
															a.tooltip-info(href='/share/detail/#{item._id}', data-rel='tooltip', title='', data-original-title='View')
																span.blue
																	i.ace-icon.fa.fa-search-plus.bigger-120
														li
															a.delete_btn.tooltip-error(data-rel='tooltip', title='', data-original-title='Delete',data-id="#{item._id}")
																span.red
																	i.ace-icon.fa.fa-trash-o.bigger-120
						.row
							.col-xs-6
								button.btn.btn-xs.btn-danger(type="button") 删除
							.col-xs-6
								.message-footer.clearfix(style="background-color:#ffffff;border:none;padding:0px;")
									.pull-right
										.inline.middle  
											| #{currentPage}/
											span#total_page #{totalPage}
											| (共#{totalCount}条)&nbsp; &nbsp;
											ul.pagination.middle
												if currentPage == 1
													li.disabled
														span
															i.ace-icon.fa.fa-step-backward.middle
													li.disabled
														span
															i.ace-icon.fa.fa-caret-left.bigger-140.middle
												else 
													li
														a(href="/share/list?p=1")
															i.ace-icon.fa.fa-step-backward.middle
													li
														a(href="/share/list?p=#{currentPage-1}")
															i.ace-icon.fa.fa-caret-left.bigger-140.middle

												li
													span
														input#page(value="#{currentPage}" maxlength="3" type="text")
												if currentPage != totalPage
													li
														a(href="/share/list?p=#{currentPage+1}")
															i.ace-icon.fa.fa-caret-right.bigger-140.middle

													li
														a(href="/share/list?p=#{totalPage}")
															i.ace-icon.fa.fa-step-forward.middle
												else 
													li.disabled
														span
															i.ace-icon.fa.fa-caret-right.bigger-140.middle

													li.disabled
														span
															i.ace-icon.fa.fa-step-forward.middle
	script(src="/javascript/table.js")

