extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li
				a(href="/admin/list") 用户列表
			li.active 
				a(href="#") 用户资料
	.page-content
		include ../page
		.page-content-area
			.row
				.col-xs-12
					div
						.user-profile.row
							.col-xs-12.col-sm-3.center
								.space-12
								div
									span.profile-picture
										img#avatar.img-responsive(alt="Alex's Avatar", src='/libs/ace/avatars/profile-pic.jpg')
									.space-4
									.width-80.label.label-info.label-xlg.arrowed-in.arrowed-in-right
										.inline.position-relative
											span.white #{account.name}
								.space-6
							.col-xs-12.col-sm-9
								.space-12
								.profile-user-info.profile-user-info-striped
									.profile-info-row
										.profile-info-name  用户名 
										.profile-info-value
											span #{account.name}
									.profile-info-row
										.profile-info-name  级别 
										.profile-info-value
											if account.role == 0
												span 普通用户
											else
												span 超级管理员
									.profile-info-row
										.profile-info-name  状态
										.profile-info-value
											if account.state == 0
												span.label.label-sm.label-success 正常
											else
												span.label.label-sm.label-warning 冻结

									.profile-info-row
										.profile-info-name  真实姓名 
										.profile-info-value
											span #{account.real_name}
									.profile-info-row
										.profile-info-name  性别 
										.profile-info-value
											if account.sex == 1
												span 男
											else
												span 女
									.profile-info-row
										.profile-info-name  出生日期 
										.profile-info-value
											span #{moment(user.birth).format('YYYY-MM-DD')}
									.profile-info-row
										.profile-info-name  邮箱 
										.profile-info-value
											span #{account.email}
									.profile-info-row
										.profile-info-name  联系方式 
										.profile-info-value
											span #{account.telphone}
									.profile-info-row
										.profile-info-name  注册时间 
										.profile-info-value
											span #{moment(user.meta.createAt).format('YYYY-MM-DD')}
									.profile-info-row
										.profile-info-name  更新时间
										.profile-info-value
											span #{moment(user.meta.updateAt).format('YYYY-MM-DD')}
									.profile-info-row
										.profile-info-name  个性签名 
										.profile-info-value
											span #{account.signature}
								.space-20
								.hr.hr2.hr-double
