extends ../../layout

block content
	#breadcrumbs.breadcrumbs
		script(type="text/javascript").
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		ul.breadcrumb
			li
				i.ace-icon.fa.fa-home.home-icon
				a(href="/index") 主页
			li.active 
				a(href="#") 用户列表
		#nav-search.nav-search
			form.form-search
				span.input-icon
					input#nav-search-input.nav-search-input(type="text", placeholder="Search ...", autocomplete="off")
					i.ace-icon.fa.fa-search.nav-search-icon
	.page-content
		include ../page
		.page-content-area
			.row
				.col-xs-12
					h3.header.smaller.lighter.blue jQuery dataTables
					.table-header
						| Results for "Latest Registered Domains"
					div
						table#sample-table-2.table.table-striped.table-bordered.table-hover
							thead
								tr
									th.center
										label.position-relative
											input.ace(type='checkbox')
											span.lbl
									th 用户名
									th 电话
									th.hidden-480 邮箱
									th
										i.ace-icon.fa.fa-clock-o.bigger-110.hidden-480
										| 			角色
									th.hidden-480 状态
									th
							tbody
								each item in users
									tr
										td.center
											label.position-relative
												input.ace(type='checkbox')
												span.lbl
										td #{item.name}
										td #{item.telphone}
										td #{item.email}
										td 
											if item.role == 0
												span 普通用户
											else
												span 超级管理员
										td.hidden-480
											if item.state == 0
												span.label.label-sm.label-success 正常
											else
												span.label.label-sm.label-warning 冻结
										td
											a.btn.btn-xs.btn-success(href="/admin/detail/#{item._id}")
												i.ace-icon.fa.fa-check.bigger-120
												| 详情
						.row
							.col-xs-6
								.dataTables_info(role='status', aria-live='polite') Showing 1 to 3 of 3 entries
							.col-xs-6
								#sample-table-2_paginate.dataTables_paginate.paging_simple_numbers
									ul.pagination
										if currentPage != 1
											li.paginate_button.previous
												a(href='/admin/list?p=1') 首页
										- for (var i = 0; i < totalPage; i++) {
											- if (currentPage == (i + 1)) {
												li.paginate_button.active
													a(href='#') #{currentPage}
											- }
											- else {
												li.paginate_button
													a(href='/admin/list?p=#{i+1}') #{i + 1}
											- }
										- }

										li.paginate_button.next
											if currentPage != totalPage
												a(href='/admin/list?p=#{currentPage+1}' ) 下一页
	script(src="/javascript/table.js")

